@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600&family=Cormorant+SC&display=swap');

body{
    margin:0;
}

header{
    font-family: 'Cormorant SC', serif;
    background-color: #E8DED1;
    padding-top: 1rem;
}

.search-bar{
    display: block;
    background-color: #E8DED1;
    border: 1px #333 solid;
    border-radius: 10px;
    margin: auto 0.5rem 0.5rem auto;
    text-indent: 10px;
}

.logo{
    width: 350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1rem;
}


.site-nav{
    background-color: rgba(255,255,255,0.3);
    margin: -0.5rem auto;
    text-align: center;
}

.site-nav li{
    display: inline-block;
    font-size: 18px; 
    margin: 0.5rem;
}

header a{
    color: #B85042;
    text-decoration: none;
}

header a:hover{
    text-decoration: underline; 
}

header a:active{
    color: #333;
}

h2{
    font-family: 'Cinzel', serif;
    color:#333;
    border-bottom: 3px #A7BEAE solid;
    padding: 1rem 0 1.5rem 0;
    margin-left: 1rem;
    margin-right: 1rem;
    text-align: center;
}

h3{
    text-align: center;
    text-indent: 0%;
}

main{
    padding: 0 1.5rem 0 1.5rem;
    text-indent: 50px;
}

.specials-main{
    display: grid;
    grid-gap: 2rem; 
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    
}

.specials-main p{
    max-width: 700px;
    margin: auto;
}


p{
    font-family: 'Cormorant SC', serif;
    color: #333;
    font-size: 1rem;
}

.image-home{
    width:350px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1%;
}

span{
    font-size: 18px;
    color:#B85042;
}

.group-1, .group-2, .group-3{
    background-color: rgba(167, 190, 174, 0.5);
    border: 1px rgba(167, 190, 174, 0.3) solid;
    border-radius: 2%;
    max-width: 900px;
    padding-bottom: 1rem;
}

.group-3{
    margin-bottom: 2rem;
}

footer{
    font-family: 'Cormorant SC', serif;
    background-color: #333;
    text-align: center;
    padding: 0.5rem;
}

footer li{
    display: inline-block;
    font-size: 18px; 
    margin: 1rem;
}

footer a{
    color: white;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
    color: #A7BEAE;
}

@media screen and (min-width: 720px){

    .site-nav li{
        font-size: 22px;
    }

    h2{
        text-align: start;
        font-size: 2rem;
    }

    .group-3{
        grid-column: 1/3;
    }

    .specials-main{
        font-size:20px;
    }

    footer li{
        font-size: 22px;
    }
    
}

@media screen and (min-width: 1000px){
    .specials-body{
        grid-template-areas: none;
    }
    .search-bar{
        font-size: 18px;
    }

    .site-nav{
        text-align: right;
        padding: 0 1rem 0 0;
    }

    .logo{
        margin-left: 1rem;
        width: 400px;
    }

    .site-nav li{
        font-size: 30px;
    }
    
    h2{
        font-size: 2.5rem;
    }

    .specials-main{
        display:flex;
        justify-content: space-evenly;
        margin-bottom: 1rem;
        font-size: 25px;
    }

    .group-1, .group-2, .group-3{
        margin: 1rem;
        padding: 1rem;
    }

    footer li{
        font-size: 30px;
    }
}